
.btn{
    &,
    &:link,
    &:visited{
    text-decoration: none;
    font-size: $default-font-size;
    font-weight: 40rem;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    animation: slideUp .5s ease-in-out .75s;
    animation-fill-mode: backwards;
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-dark, 0.3);
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity:0;
        }
        
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-dark, 0.3);
    }

    &-white{
        background-color: $color-white;
        color: $color-grey-dark;
        }
        &::after{
            content: '';
            height: 100%;
            width: 100%;
            background-color: $color-white;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .4s ease-in-out;
            z-index: -1;
            border-radius: 5rem;
        }
    }

    .btn-text{
        &,
        &:link,
        &:visited{
        font-size:1.6rem ;
        font-weight: 400;
        color: $color-primary ;
        display:inline-block;
        padding: .3rem;
        text-decoration: none;
        text-transform: capitalize;
        border-bottom:.1rem solid $color-primary;
        transform: all .5s;
        &:hover{
            background-color: $color-primary;
            color:$color-white;
            border: none;
            transform: translateY(-.5rem);
            border-radius: .3rem;
            box-shadow: 0 1rem 2rem rgba($color-dark, 0.2);
            &:active{
                box-shadow: 0  .5rem 1rem rgba($color-dark, 0.2);
                transform: translateY(0);
                 }
             }
        }
    }