.composition{
    position: relative;
    &-img{
        width: 55%;
        z-index: 10;
        box-shadow: 0 1.5rem 4rem rgba($color-dark,.4);
        border-radius: .3rem;
        position: absolute;
        outline-offset: 2rem;
        transition: all .3s ease-in-out;
        &:hover{
            outline: 1.5rem solid $color-primary;
            transform: scale(1.1);
            z-index: 15;

        }
        
    }
   &-1{
        left: 0;
        top: -2rem;
    }
    &-2{
        right: 0;
        top: 2rem;
    }
    &-3{
        left:20%;
        top:10rem;
    }
}      