.btn, .btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 40rem;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  animation: slideUp .5s ease-in-out .75s;
  animation-fill-mode: backwards; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.btn-white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .4s ease-in-out;
  z-index: -1;
  border-radius: 5rem; }

.btn-text, .btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  font-weight: 400;
  color: #55c57a;
  display: inline-block;
  padding: .3rem;
  text-decoration: none;
  text-transform: capitalize;
  border-bottom: 0.1rem solid #55c57a;
  transform: all .5s; }
  .btn-text:hover, .btn-text:link:hover, .btn-text:visited:hover {
    background-color: #55c57a;
    color: #fff;
    border: none;
    transform: translateY(-0.5rem);
    border-radius: .3rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn-text:hover:active, .btn-text:link:hover:active, .btn-text:visited:hover:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      transform: translateY(0); }

.composition {
  position: relative; }
  .composition-img {
    width: 55%;
    z-index: 10;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .3rem;
    position: absolute;
    outline-offset: 2rem;
    transition: all .3s ease-in-out; }
    .composition-img:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.1);
      z-index: 15; }
  .composition-1 {
    left: 0;
    top: -2rem; }
  .composition-2 {
    right: 0;
    top: 2rem; }
  .composition-3 {
    left: 20%;
    top: 10rem; }

.container {
  width: 110rem;
  margin: 0 auto; }

.row, .row::after, .row::before {
  clear: both;
  width: 100%;
  display: table; }

.row:not(:last-child) {
  margin-bottom: 8rem; }

div[class^='col'] {
  float: left;
  padding: 0 15px; }

.col12 {
  width: 100%; }

.col10 {
  width: calc(100% * 10/12); }

.col9 {
  width: 75%; }

.col8 {
  width: calc(100% * 8/12); }

.col6 {
  width: 50%; }

.col4 {
  width: calc(100% * 4/12); }

.col3 {
  width: 25%; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header-caption {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    text-align: center; }

.logo-box {
  position: absolute;
  left: 4rem;
  top: 4rem; }

.logo1 {
  height: 4rem; }

.section-about {
  padding: 25rem 0;
  background-color: #f7f7f7;
  margin-top: -20vh; }

@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  padding: 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 40rem;
  line-height: 1.7;
  color: #777; }

::selection {
  background-color: #55c57a;
  color: #fff; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.2rem;
    animation: moveInright 1s ease-in-out; }
  .heading-primary-sub {
    display: block;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 1.8rem;
    animation: moveInleft 1s ease-in-out; }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .4s ease-in-out;
  margin-bottom: 6rem; }
  .heading-secondary:hover {
    transform: scale(1.1);
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.para {
  font-size: 1.6rem;
  font-weight: 400; }
  .para:not(:last-child) {
    margin-bottom: 3rem; }

.text-center {
  text-align: center; }

.mb-2 {
  margin-bottom: 2rem; }
